In [6]:
import pandas as pd
df = pd.read_csv('/Users/administrator/Downloads/investments2.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114506 entries, 0 to 114505
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   company_permalink      114506 non-null  object
 1   company_name           114505 non-null  object
 2   company_category_list  111242 non-null  object
 3   company_market         111240 non-null  object
 4   company_country_code   107147 non-null  object
 5   company_region         107147 non-null  object
 6   company_city           105801 non-null  object
 7   investor_permalink     114440 non-null  object
 8   investor_name          114440 non-null  object
 9   investor_country_code  86521 non-null   object
 10  investor_region        86521 non-null   object
 11  investor_city          86007 non-null   object
 12  funding_round_type     114506 non-null  object
 13  funded_year            114506 non-null  int64
 14  raised_amount_usd      101155 non-null  float64
 15  Y                      114506 non-null  object
dtypes: float64(1), int64(1), object(14)
memory usage: 14.0+ MB

In [8]:
df = df.drop(['company_permalink','investor_permalink'], axis=1)

In [10]:
#replace all Nan to 0 in raised_amount_usd column
df['raised_amount_usd'] = df['raised_amount_usd'].fillna(0)

#convert column raised_amount_usd from float to int
df = df.astype({"raised_amount_usd":'int'})

In [12]:
#Transform the numerical feature into categorical feature
df['funded_year'] = df['funded_year'].astype('object')
df['raised_amount_usd'] = df['raised_amount_usd'].astype('object')

In [13]:
#Dropping all the null value
df.dropna(inplace = True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77929 entries, 8 to 114498
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company_name           77929 non-null  object
 1   company_category_list  77929 non-null  object
 2   company_market         77929 non-null  object
 3   company_country_code   77929 non-null  object
 4   company_region         77929 non-null  object
 5   company_city           77929 non-null  object
 6   investor_name          77929 non-null  object
 7   investor_country_code  77929 non-null  object
 8   investor_region        77929 non-null  object
 9   investor_city          77929 non-null  object
 10  funding_round_type     77929 non-null  object
 11  funded_year            77929 non-null  object
 12  raised_amount_usd      77929 non-null  object
 13  Y                      77929 non-null  object
dtypes: object(14)
memory usage: 8.9+ MB

In [25]:
df.Y.value_counts(normalize=True)

Yes    0.898985
No     0.101015
Name: Y, dtype: float64

In [15]:
#Getting all the categorical columns except the target
categorical_columns = df.select_dtypes(exclude = 'number').drop('Y', axis = 1).columns

In [17]:
pd.crosstab(df['funding_round_type'], df['Y'])

Y                       No    Yes
funding_round_type
angel                  209   1102
convertible_note        73    237
debt_financing          47   1106
equity_crowdfunding      0     56
grant                   17    398
post_ipo_debt            0     25
post_ipo_equity          4     85
private_equity         114   1503
product_crowdfunding     0     14
secondary_market        31     18
seed                  2866  11404
undisclosed           2064    805
venture               2447  53304

In [19]:
# Import the function
from scipy.stats import chi2_contingency#Testing the relationship
chi_res = chi2_contingency(pd.crosstab(df['Y'], df['funding_round_type']))
print('Chi2 Statistic: {}, p-value: {}'.format(chi_res[0], chi_res[1]))

Chi2 Statistic: 16007.362512408145, p-value: 0.0

In [24]:
chi2_check = []
for i in categorical_columns:
    if chi2_contingency(pd.crosstab(df['Y'], df[i]))[1] < 0.05:
        chi2_check.append('Reject Null Hypothesis')
    else:
        chi2_check.append('Fail to Reject Null Hypothesis')
        
res = pd.DataFrame(data = [categorical_columns, chi2_check] 
                  ).T
res.columns = ['Column', 'Hypothesis']
print(res)

                   Column              Hypothesis
0            company_name  Reject Null Hypothesis
1   company_category_list  Reject Null Hypothesis
2          company_market  Reject Null Hypothesis
3    company_country_code  Reject Null Hypothesis
4          company_region  Reject Null Hypothesis
5            company_city  Reject Null Hypothesis
6           investor_name  Reject Null Hypothesis
7   investor_country_code  Reject Null Hypothesis
8         investor_region  Reject Null Hypothesis
9           investor_city  Reject Null Hypothesis
10     funding_round_type  Reject Null Hypothesis
11            funded_year  Reject Null Hypothesis
12      raised_amount_usd  Reject Null Hypothesis